body {
    background-color: #F5F7FA;
    position: relative;
    min-height: 100vh;
    min-height: 100svh;
    margin: 0;
}

.navbar {
    background-color: #1A2E45;
}

footer {
    background-color: #1A2E45;
}