.custom-dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
}

.custom-dropdown {
    background-color: #2B4B6A;
}

.custom-dropdown .dropdown-item {
    color: #ffffff;
}

.custom-dropdown .dropdown-item:hover {
    background-color: #355A7C;
    color: white; 
}

.info-conf h1 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.info-conf hr {
    border-top: 3px solid #000000;
    width: 50%;
    margin: 1rem start;
}

.info-conf .info-conf-desc {
    font-size: 1.4rem;
}


.oradores-list {
    margin-left: 35px;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

.oradores-list li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.orador-dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000;
    margin-right: 15px;
}

.oradores-list li i {
    margin-left: 10px;
}


/* BOTON MAS INFO */
.comp-btn {
    background-color: #2B4B6A;
    border-color: #2B4B6A;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.comp-btn:hover {
    background-color: #355A7C;
    transform: scale(1.05);
}
/* BOTON MAS INFO */